<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body{
          background-image: url('{% static "images/light.jpg" %}');
          background-repeat: no-repeat;
          background-size: cover;
      }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:rgb(63, 9, 114);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ADMIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_course' %}">ADD COURSE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_student' %}">ADD STUDENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_details' %}">SHOW STUDENT DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_teacher' %}">SHOW TEACHER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_logout' %}">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



    <center>
        <h1>Student details</h1>  
        <table border="2px">
          <thead>
            <tr>
            <th>STUDENT NAME</th>
            <th>EMAIL ADDRESS</th>
            <th>AGE</th>
            <th>JOINING DATE</th>
            <th>COURSE</th>
            <th>COURSE FEE</th>
            <th>ACTION</th>
          </tr>
          </thead>
          <tbody>
            {% for e in students %}
            <tr>
              <td>{{e.student_name }}</td>
              <td>{{e.student_address}}</td>
              <td>{{e.student_age }}</td>
              <td>{{e.joining_date }}</td>
              <td>{{e.course.course_name}}</td>
              <td>{{e.course.fee}}</td>
              
              <td>
                <a href="{% url 'editpage' e.id %}"><button class="btn btn-primary">Edit</button></a>
            <a href="{% url 'deletepage' e.id %}"><button class="btn btn-dark">Delete</button></a>
                </td>
    
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </center>
</body>
</html>